@model IEnumerable<ExpedienteDigital.Models.Document_Type>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr class="danger">
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Code)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr class="success">
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Code)
        </td>
        <td>
            @Html.ActionLink("Edutar", "Edit", new { id=item.DocumentTypeId }) |
            @Html.ActionLink("Detalle", "Details", new { id=item.DocumentTypeId }) |
            @Html.ActionLink("Borrar", "Delete", new { id=item.DocumentTypeId })
        </td>
    </tr>
}

</table>
